<!--INICIO DO CONTEUDO-->
<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

    <!-- Com o formGroup, a antiga diretiva (#_form="ngForm") passa a ser [formGroup]="orderForm" -->
    <!-- OLD -->
    <!-- <form novalidate #_form="ngForm"> -->
    <!-- NEW -->
    <form novalidate [formGroup]="orderForm">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
          </h2>
        </div>
      </div>

      <!-- REVIEW: Template alterado para refatoração com FormControlName -->
      <!-- REFATORACAO: FormControlName  -->
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Seus Dados:</p>
        </div>

      <!-- NAME -->
      <div class="col-sm-4 col-xs-6">
        <shared-validators-forms-input-container label="Endereço" successMessage="Ok" errorMessage="Campo obrigatório">
          <input class="form-control" formControlName="name"  type="text" autocomplete="disabled" placeholder="Nome">
        </shared-validators-forms-input-container>
      </div>
      <!-- /NAME -->

      <!-- EMAIL -->
      <div class="col-sm-4 col-xs-6">
        <shared-validators-forms-input-container label="Endereço" successMessage="Ok" errorMessage="E-mail inválido">
          <input class="form-control" formControlName="email"  type="text" autocomplete="disabled"
            placeholder="e-mail">
        </shared-validators-forms-input-container>
      </div>
      <!-- /EMAIL -->

      <!-- CONFIRMAÇÃO DE EMAIL -->
      <div class="col-sm-4 col-xs-6">
        <shared-validators-forms-input-container label="Endereço" successMessage="Ok" errorMessage="E-mail inválido">
          <input class="form-control" formControlName="emailConfirmation"  type="text" autocomplete="disabled"
            placeholder="e-mail">
        </shared-validators-forms-input-container>
      </div>      
      <!-- /CONFIRMAÇÃO DE EMAIL -->
    </div>
      <!-- /REFATORACAO: FormControlName  -->

      <!-- TODO: remover invoice-info -->
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Endereço de Entrega:</p>
        </div>

        <div class="col-sm-6 col-xs-12">
          <!-- moved to shared/validators/forms/input -->
          <shared-validators-forms-input-container label="Endereço" successMessage="Ok"
            errorMessage="Campo obrigatório">
            <input class="form-control" formControlName="address" autocomplete="disabled" type="text"
              placeholder="Endereço">
          </shared-validators-forms-input-container>
        </div>

        <div class="col-sm-3 col-xs-6">
          <shared-validators-forms-input-container label="Número" successMessage="Ok"
            errorMessage="Obrigatório e somente números">
            <input class="form-control" formControlName="number" autocomplete="disabled" type="text"
              placeholder="Número" pattern="^[0-9]+$">
          </shared-validators-forms-input-container>

        </div>
        <div class="col-sm-3 col-xs-6">
          <shared-validators-forms-input-container label="Complemento" successMessage="Ok">
            <input class="form-control" formControlName="optionalAddress" autocomplete="disabled" type="text"
              placeholder="Complemento">
          </shared-validators-forms-input-container>

        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Itens do Pedido:</p>
        </div>
        <app-order-items [items]="cartItems()" (_increaseQuantity)="increaseQuantity($event)"
          (_decreaseQuantity)="decreaseQuantity($event)" (_removeItem)="removeItem($event)"></app-order-items>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Formas de Pagamento:</p>

          <div class="form-group">
            <!-- shared-validators-forms-radio -->
            <shared-validators-forms-radio-container [options]="paymentOptions" formControlName="paymentOption" required>
            </shared-validators-forms-radio-container>
          </div>

        </div>
        <!-- /.col -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Frete e Total:</p>

          <app-delivery-costs [_deliveryCost]="deliveryCost()" [_itemsCost]="itemsCost()"></app-delivery-costs>
        </div>
        <!-- /.col -->
      </div>

    </form>

    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-success pull-right" [disabled]="!orderForm.valid || cartItems().length === 0"
          (click)="checkOrder(orderForm.value)">
          <i class="fa fa-credit-card"></i> Concluir Pedido
        </button>
      </div>
    </div>

  </section>
</section>
<!-- FIM DO CONTEUDO-->