<!--INICIO DO CONTEUDO-->
<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

    <form novalidate #_form="ngForm">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
          </h2>
        </div>
      </div>
      <!-- TODO: excluir -->
      {{_form.value | json}}
      <br>
      {{_form.valid}}

      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead">Endereço de Entrega:</p>
        </div>

        <div class="col-sm-6 col-xs-12">
          <!-- moved to shared/validators/forms/input -->
          <shared-validators-forms-input-container label="Endereço" successMessage="Ok"
            errorMessage="Campo obrigatório">
            <input class="form-control" name="address" ngModel required minlength="5" autocomplete="off"
              placeholder="Endereço">
          </shared-validators-forms-input-container>
        </div>

        <div class="col-sm-3 col-xs-6">
          <shared-validators-forms-input-container label="Número" successMessage="Ok" errorMessage="Obrigatório e somente números">
            <input class="form-control" name="number" ngModel required autocomplete="off" type="text"
              placeholder="Número" pattern="^[0-9]+$">
          </shared-validators-forms-input-container>

        </div>
        <div class="col-sm-3 col-xs-6">
          <shared-validators-forms-input-container label="Complemento" successMessage="Ok">
            <input class="form-control" name="optionalAddress" ngModel autocomplete="off" type="text"
              placeholder="Complemento">
          </shared-validators-forms-input-container>

        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Itens do Pedido:</p>
        </div>
        <app-order-items
          [items]="cartItems()"
          (_increaseQuantity)="increaseQuantity($event)"
          (_decreaseQuantity)="decreaseQuantity($event)"
          (_removeItem)="removeItem($event)"
        ></app-order-items>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Formas de Pagamento:</p>

          <div class="form-group">
            <!-- shared-validators-forms-radio -->
            <shared-validators-forms-radio-container
              [options]="paymentOptions"
              name="paymentOption"
              ngModel
              required
            ></shared-validators-forms-radio-container>
          </div>

        </div>
        <!-- /.col -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Frete e Total:</p>

          <app-delivery-costs
          [_deliveryCost]="deliveryCost()"
          [_itemsCost]="itemsCost()"
          ></app-delivery-costs>
        </div>
        <!-- /.col -->
      </div>

    </form>

    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-success pull-right" 
          [disabled]="!_form.valid || cartItems().length === 0"
          (click)="checkOrder(_form.value)">
          <i class="fa fa-credit-card"></i> Concluir Pedido
        </button>
      </div>
    </div>

  </section>
</section>
<!-- FIM DO CONTEUDO-->